*
{
    margin: 0px auto;
    padding: 0px auto;

/* @media only screen and (max-width: 480px){ */
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    /* .navbtn {
        background-color: yellow;
    } */
    /* @media only screen and (max-width: 480px){
        .sm-0 {
            /* we will not display anything with the class .sm-0 if the screen's width is less than 480px */
         
         
        /* }
    @media only screen and (min-width: 481px){
        .med-1 {
            width: 25%;
        }  */
}
#container{
    height: 1300px;
    width: 1500px;
    background-color: rgb(237,208,193);
    font-family: 'Dela Gothic One';
    color: rgb(94, 94, 94);
   
}
/* this isn't working */
#header{
    padding-top: 20px;
    height:80px;
    width: 900px;
    display: flex;
    border: 2px solid rgb(150, 149, 142);
}  
#top_body{
    height: 400px;
    width: 1000px;
    font-size: 25px;
    border: 2px solid black;
    margin-top: 50px;
}
#body{
    height: 500px;
    width: 1200px;
    display: flex;
    margin-top: 15px;
    border: 2px solid black;
    
}
img {
    border-radius: 15px;
    height: 350px;
    width: 350px; 
    margin-top: 65px;


}
a:link {
    text-decoration: none;
    color:  rgb(94, 94, 94);
}

/* .animal{
   position: relative;
   height: 250px;
   width: 245px;
   display: inline-block;
   overflow: hidden;
   -webkit-font-smoothing: antialiased;
   border: 2px solid blue; */

/* img {
   border-radius: 4px;
   height: 250px;
   width: 245px; 
   transition: all linear 0.7s;  */

