*
{
    margin: 0px auto;
    padding: 0px auto;
    /* its not taking in the rwd  */
} 
@media only screen and (min-width: 320px){
    #container{
        width: 100%;
        font-family: 'Dela Gothic One';
        /* background-color: rgb(237,208,193); */
        color: rgb(94, 94, 94);
        margin-bottom: 100px;
    }
    #header{
        padding-top: 20px;
        height:20%;
        width: 100%;
        background-color: rgb(240,239,231);
        border-radius: 20px;
    } 
    #top_body{
        height: 30%;
        width: 100%;
        font-size: 25px;
        background-color: rgb(240,239,231);
        border-radius: 20px;
        margin-top: 50px;
    }
    #body{
        height: 40%;
        width: 100%;
        display: flex;
        border-radius: 20px;
        background-color: rgb(240,239,231);
        margin-top: 15px; 
    }
    img {
        border-radius: 15px;
        height: 200%;
        width: 400%; 
        margin-top: 65px;
    
    
    }
    a:link {
        text-decoration: none;
        color: black;
    }
    
}
/* #container{
    height: 1300px;
    width: 1500px;
    background-color: rgb(237,208,193);
    font-family: 'Dela Gothic One';
    color: rgb(94, 94, 94);
    margin-bottom: 100px;
   
} */
/* this isn't working */
/* #header{
    padding-top: 20px;
    height:80px;
    width: 1200px;
    background-color: rgb(240,239,231);
    border-radius: 20px;
}   */
/* #top_body{
    height: 400px;
    width: 1200px;
    font-size: 25px;
    background-color: rgb(240,239,231);
    border-radius: 20px;
    margin-top: 50px;
} */
/* #body{
    height: 600px;
    width: 1200px;
    display: flex;
    border-radius: 20px;
    background-color: rgb(240,239,231);
    margin-top: 15px;
    margin-right: 1000px;

    
} */
/* img {
    border-radius: 15px;
    height: 350px;
    width: 350px; 
    margin-top: 65px;


}
a:link {
    text-decoration: none;
    color: black;
} */
