*
{
    margin: 0px auto;
    padding: 0px auto;

/* @media only screen and (max-width: 480px){ */
    /* we will set these stylings only if the device is a screen with a width of 480px or less */
    /* .navbtn {
        background-color: yellow;
    } */
    /* @media only screen and (max-width: 480px){
        .sm-0 {
            /* we will not display anything with the class .sm-0 if the screen's width is less than 480px */
         
         
        /* }
    @media only screen and (min-width: 481px){
        .med-1 {
            width: 25%;
        }  */
}
#container{
    height: 1300px;
    width: 1500px;
    background-color: rgb(237,208,193);
    font-family: 'Dela Gothic One';
    color: rgb(94, 94, 94);
    margin-bottom: 100px;
   
}
/* this isn't working */
#header{
    padding-top: 20px;
    height:80px;
    width: 1200px;
    background-color: rgb(240,239,231);
    border-radius: 20px;
}  
#top_body{
    height: 400px;
    width: 1200px;
    font-size: 25px;
    background-color: rgb(240,239,231);
    border-radius: 20px;
    margin-top: 50px;
}
#body{
    height: 600px;
    width: 1200px;
    display: flex;
    border-radius: 20px;
    background-color: rgb(240,239,231);
    margin-top: 15px;
    margin-right: 1000px;

    
}
img {
    border-radius: 15px;
    height: 350px;
    width: 350px; 
    margin-top: 65px;


}
a:link {
    text-decoration: none;
    color: black;
}
