*
{
    margin: 0px auto;
    padding: 0px auto; 
/* }
img {
    border-radius: 4px;
    height: 730px;
    width: 650px; 
    margin-top: 15px; */

}
@media only screen and (min-width: 320px){
    #container{
        width: 100%;
        font-family: 'Gluten', cursive;
        border: 2px solid black;
        background-color: rgb(168,159,150);
    }
    .headline{
        height: 20%;
        width: 40%;
        margin-top: 40px;
       
    }
    #font-test{
        width: 100%;
        height: 100%;
        display: flex;
       
    }
    .grey{
        width: 70%;
        height: 70%;
    }

    .red{
        width: 70%;
        height: 70%;

    }
      
    .orange{
        width: 70%;
        height: 70%;
    }

    .yellow{
        width: 70%;
        height: 70%;
    }

    .green{
        width: 70%;
        height: 70%;
    }

    .purple{
        width: 70%;
        height: 70%;
    }
    img{
        border-radius: 4px;
        height: 100%;
        width: 100%; 
        margin-top: 15px;
}

}