*
{
    margin: 0px auto;
    padding: 0px auto; 
}
#container{
    height: 4800px;
    width: 1000px;
    border: 2px solid #000000;
    background-color: rgb(125, 133, 101);
    font-family: 'Dela Gothic One';
 
}
#body{
    height: 4800px;
    border: 2px dashed black;
}
#triblock{
    height: 450px;
    width: 1000px;
    display: flex;
    border: 2px solid pink;
    color: white;
}
.animal{
    border: 2px solid black;
    height: 450px;
    width: 470px;
}
span { 
    text-align: center;
    font-size: 900%;
    color: lightgrey;
   }
