*
{
    margin: 0px auto;
    padding: 0px auto; 
}
@media only screen and (min-width: 320px){
    #container{
        width: 100%;
        font-family: 'Dela Gothic One';
    }
    #body{
        height: 100%;
        width: 100%;
        background-color: rgb(84, 116, 86);
    }
    #triblock{
        height: 70%;
        width: 50%;
        display: flex;
        border-radius: 40px;
        background-color:rgb(211, 210, 199);
        margin-bottom: 60px;
       

    }
    #story{
        height: 100%;
    
    }
    .animal{
        height: 55%;
        width: 43%;
        margin-bottom: 80px;
       
    }
    span { 
        text-align: center;
        font-size: 650%;
     
    }
    img{
        border-radius: 4px;
        height: 45%;
        width: 82%; 
        margin-top: 15px;
       
    }
    
}