*
{
    margin: 0px auto;
    padding: 0px auto;
}
#container{
    height: 800px;
    width: 900px;
    display: flex;
    font-size: 17px;
    background-color:rgb(241,240,235);


}
h1{
    color: rgb(216,195,164);
    font-family: lato, sans-serif;
}
#registration{
    height: 430px;
    width: 410px;
    margin-top: 50px;
    font-family: lato, sans-serif;
    padding-top: 15px;
    padding-left: 20px;     

}
input[type=text], select {
  height: 30px;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  padding-left: 15px;
  /* display: inline-block; */
  /* border: 1px solid #ccc; */
  border-radius: 3px;
  box-sizing: border-box;
}
#login{
    height: 430px;
    width: 380px;
    margin-top: 50px;
    font-family: lato, sans-serif;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 25px;
  
    
}
.submit {
    background-color: rgb(60,89,151);
    border-radius: 15px;
    color: white;

  }
  input[type=text], select {
    height: 30px;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    box-sizing: border-box;
  }