*
{
    margin: 0px auto;
    padding: 0px auto;
}
@media only screen and (min-width: 320px){
  #header{
    width: 100%;
    text-align:center;
    font-family: lato, sans-serif;
    padding-top: 25px;
    font-size: 42px;
    color: rgb(47,62,75);
    letter-spacing: 3px;
    background-color: rgb(242,237,231);

  }
  #container{
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-basis: 100%;
    font-size: 17px;
    background-color: rgb(242,237,231);

  }
  h1{
    color: rgb(54,60,64);
    font-weight:lighter;
    font-family: lato, sans-serif;
    font-size: 36px;
}
#registration{
    height: 680px;
    width: 65%;
    margin-top: 40px;
    margin-left: 70px;
    font-family: lato, sans-serif;
    font-weight:lighter;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;     
    border-right: 1px solid rgb(159,166,172);
    background-color: rgb(242,237,231);

}
input[type=text], select {
    height: 40px;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    padding-left: 15px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid rgb(208,207,200);


}
#login{
  height: 680px;
  width: 60%;
  margin-top: 40px;
  font-family: lato, sans-serif;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 25px;
  font-weight:lighter;
  font-size: 14px;
  background-color: rgb(242,237,231);
  
}
.submit {
  background-color:rgb(47,63,76) ;
  border-radius: 5px;
  padding-top: 10px;
  color: white;
  width: 150px;
  height: 45px;

}
/* input[type=text], select {
  height: 80px;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(208,207,200);
  box-sizing: border-box;
} */
input[type=password], select {
  height: 40px;
  width: 70%;
  /* padding: 12px 20px; */
  margin-bottom: 20px;
  /* trying to add more white space between confirm password and register button */
  margin: 8px 0;
  border: 1px solid rgb(208,207,200);
  box-sizing: border-box;
}
#errors{
  padding-top: 20px;
  color: rgb(106, 15, 15);
}

}
  





    
