*
{
    margin: 0px auto;
    padding: 0px auto; 
}
@media only screen and (min-width: 320px){
    #container{
        width: 100%;
        font-family: 'Dela Gothic One';
    }
    #body{
        height: 100%;
        width: 100%;
        background-color: rgb(125, 172, 190);
    }
    #triblock{
        height: 70%;
        width: 80%;
        display: flex;
        border-radius: 40px;
        background-color:rgb(211, 210, 199);
        margin-bottom: 60px;
       

    }
    #story{
        height: 100%;
    
    }
    .animal{
        height: 55%;
        width: 43%;
        margin-bottom: 80px;
       
    }
    span { 
        text-align: center;
        font-size: 650%;
     
    }
    img{
        border-radius: 4px;
        height: 45%;
        width: 82%; 
        margin-top: 15px;
       
    }

}

/* }
#container{
    height: 3900px;
    width: 1000px; */
    /* background-color: rgb(125, 133, 101); */
    /* background-color: rgb(125, 172, 190);
    font-family: 'Dela Gothic One'; */
 
/* }
#body{
    height: 4500px;
    width: 900px;
   
}
#triblock{
    height: 400px;
    width: 800px;
    display: flex;
    border-radius: 40px;
    background-color:rgb(211, 210, 199);
    margin-bottom: 60px;
  

}
#story{
    height: 4500px;

}
.description{
    height: 80px;
    width: 1000px;
  
}
.animal{
    height: 400px;
    width: 300px;
    margin-bottom: 80px;
}
span { 
    text-align: center;
    font-size: 700%;
 
}
img{
    border-radius: 4px;
    height: 250px;
    width: 260px; 
    margin-top: 15px;
    
}

 */
