*
{
    margin: 0px auto;
    padding: 0px auto; 
}
@media only screen and (min-width: 320px){
    #container{
        height: 100%;
        width: 100%;
        display: flex;
        background-color:rosybrown;
        border: 3px solid black;
    }
    #left{
        height: 500px;
        width: 5%;
        border: 3px dashed blue;

    }
    #top{
        height: 20px;
        width: 100%;
        border: 1px solid black;
    }
    #middle{
        height: 200px;
        width: 20%;
        border: 3px solid pink;

    }
    #right{
        height: 200px;
        width: 70%;
        border: 3px solid yellow;

    }
}