<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/aerial.css' %}">
    <title>Aerial Animals</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        </style>
    <div id="container">
        <div id="body">
            <div id="story">
            
                 {% load static %}
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/chicken.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>C</span>
                      <p>
                      
                      </p>
                    </div>
                </div> 
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/flamingo.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>F</span>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/ostrich.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>E</span>
                      <p>Elephants are the largest existing land animals. They tend to love in the African forest or Asia</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/owl.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>O</span>
                      <p>
                        Fox come in small to medium sizes! They live on every continent except Antartica.</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/parrot.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>P</span>
                      <p>
                     
                      </p>
                    </div>
                </div>
              
               
