<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/aerial.css' %}">
    <title>Aerial Animals</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        </style>
    <div id="container">
        <div id="body">
            <div id="story">
            
                 {% load static %}
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/chicken.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>C</span>
                      <p>
                      C is for Chickens! Chickens are farm animals that lay their eggs. 
                      </p>
                    </div>
                </div> 
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/flamingo.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>F</span>
                      <p>F is for Flamingo. Flamingos come in pink and grey colors.</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/ostrich.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>O</span>
                      <p>O is for Ostrich!</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/owl.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>O</span>
                      <p>
                       O is for Owl</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/parrot.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>P</span>
                      <p>
                     
                      </p>
                    </div>
                </div>
              
               
