<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/aerial.css' %}">
    <title>Aerial Animals</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        </style>
    <div id="container">
        <div id="body">
            <div id="story">
            
                 {% load static %}
                <div class=description>C is for Camel</div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/chicken.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>C</span>
                      <p>
                        Camels are mammals
                        that live in deserts where it is hot and dry.  
                      </p>
                    </div>
                </div> 
                <div class=description>D is for Dog</div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/flamingo.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>D</span>
                      <p>Dogs are a dog's best friend! Dogs tend to live with a mommy or daddy just like you!</p>
                    </div>
                </div>

                <div class=description>E is for elephant</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/ostrich.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>E</span>
                      <p>Elephants are the largest existing land animals. They tend to love in the African forest or Asia</p>
                    </div>
                </div>
           
                <div class=description>F is for Fox</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/owl.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>F</span>
                      <p>
                        Fox come in small to medium sizes! They live on every continent except Antartica.</p>
                    </div>
                </div>
         
                <div class=description>C is for Camel</div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/parrot.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>C</span>
                      <p>
                        Giraffe's are the tallest living terrestrial animal. You can find many of them romaing around in parts of Africa.
                      </p>
                    </div>
                </div>
              
                <div class=description> L is for Lion</div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/lion.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>L</span>
                      <p>
                       Lions are like a larger pomerinians. They are native to Africa and India. 
                      </p>
                    </div>
                </div>
            
                <div class=description>M is for Monkey</div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/monkey.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>    C</span>
                      <p>
                        Camels are mammals
                        that live in deserts where it is hot and dry.  
                      </p>
                    </div>
                </div>
       
                <div class=description>C is for Camel</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/tiger.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>C</span>
                      <p>
                        Camels are mammals
                        that live in deserts where it is hot and dry.  
                      </p>
                    </div>
                </div>
        
                <div class=description>Z is for Zebra</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/zebra.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>Z</span>
                      <p>
                       Zebras are like striped horses. Each one has a distinctive black and white coat. Zebras inhabit eastern and southern Africa.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>  





















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/wing.css' %}">
    <title>Aerial Animals</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        </style>
    <div id="container">
        <div id="body">
            <div id="story">
              {% load static %}
        
                <div class=description>C is for chicken</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/chicken.jpg'%}" alt="My Image">
                       
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div> 
                    <div class="animal">
                      <span>C</span>
                      <p>
                       
                      </p>
                    </div>
                </div>
            
                <div class=description>E is for Eagle</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/jellyfish.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>E</span>
                      <p>
                        
                      </p>
                    </div>
                </div>
             
                <div class=description>F is for a Flamingo</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/flamingo.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>F</span>
                      <p></p>
                    </div>
                </div>
      
                <div class=description>O is for Owl</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/turtle.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>T</span>
                      <p></p>
                    </div>
                </div>
     
                <div class=description>P is for Parrot</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/whale.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>W</span>
                      <p></p>
                    </div>
                </div>
             
                <div class=description> L is for Lion</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/lion.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>L</span>
                      <p>
                       Lions are like a larger pomerinians. They are native to Africa and India. 
                      </p>
                    </div>
                </div>
    
                <div class=description>M is for Monkey</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/land animals/monkey.jpg" alt="Girl in a jacket" width="463" height="383">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>    C</span>
                      <p>
                        Camels are mammals
                        that live in deserts where it is hot and dry.  
                      </p>
                    </div>
                </div>
             
                <div class=description>C is for Camel</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/land animals/tiger.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>    C</span>
                      <p>
                        Camels are mammals
                        that live in deserts where it is hot and dry.  
                      </p>
                    </div>
                </div>
            
                <div class=description>Z is for Zebra</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/land animals/zebra.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>Z</span>
                      <p>
                       Zebras are like striped horses. Each one has a distinctive black and white coat. Zebras inhabit eastern and southern Africa.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

 -->
