<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/animalss.css' %}">
    <title>Jonathan's Jungle Book</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        </style>
    <div id="container">
        <div id="header">
            <h2>Welcome to Jonathan's Jungle Book, {{request.session.u_fname}} !</h2>
            <div class="col sm-0 med-1">
            <p>Where we explore the various kinds of wildlife.</p>
        </div>
        <div id="top_body">
            <div id="top_blurb">
                <p>At a very young age, Jonathan was amused by the stories 
                his parents would tell him about his farm  life.
                <br><br>
                His father cared for land animals, sea animals 
                and animals that even fly.</p>
                <br>
                <p>On his first  birthday, they visited a zoo so he could meet some of those animals in real life. </p>
                <br>
                <p>Click on the links below to get 
                to know various types of animals Jonathan will be introduced to on his first visit to the zoo!</p>
        </div>
        </div>
        <div id="body">
            <div id="animal">
                {% load static %}
                <img src="{% static 'jungle_app/images/guanaco.png'%}" alt="My Image">
                <br> 
                <h3><a href="/land">ABC's with Animal Pals</a></h3>
            </div>
        </div> 
        </div> 
    </div>
</html>