<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/food.css' %}">
    <title>Colorful Fruits & Veggies</title>
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten&display=swap" rel="stylesheet">
    <div id="container">
        <div id="body">
        </div>
        <div class="headline">
            <h2>FRUITS & VEGGIES COLORS</h2>
        </div>
        <div id="font-test">
            <div id="photo">
                <img src="{% static 'jungle_app/images/food_basket.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/food_basket.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/food_basket.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/food_basket.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/food_basket.jpg'%}" alt="My Image">
            </div>
        </div>
        <div class="headline">
            <h1>RED</h1>
        </div>
        <div id="font-test">
            <div class="photo">
                <img src="{% static 'jungle_app/images/red_apples.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/red_cherries.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/red_strawberries.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/red_tomato.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/red_watermelon.jpg'%}" alt="My Image">
            </div>
        </div>
        <div class="headline">
            <h1>ORANGE</h1>
        </div>
        <div id="font-test">
            <div class="photo">
                <img src="{% static 'jungle_app/images/orange_one.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/orange_two.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/orange_middle.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/orange_four.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/orange_five.jpg'%}" alt="My Image">
            </div>
        </div>
        <div class="headline">
            <h1>YELLOW</h1>
        </div>
        <div id="font-test">
            <div class="photo">
                <img src="{% static 'jungle_app/images/yellow_one.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/yellow_two.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/yellow_three.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/yellow_four.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/yellow_five.jpg'%}" alt="My Image">
            </div>
        </div>
        <div class="headline">
            <h1>GREEN</h1>
        </div>
        <div id="font-test">
            <div class="photo">
                <img src="{% static 'jungle_app/images/green_one.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/green_two.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/green_three.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/green_four.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/green_five.jpg'%}" alt="My Image">
            </div>
        </div>
        <div class="headline">
            <h1>PURPLE</h1>
        </div>
        <div id="font-test">
            <div class="photo">
                <img src="{% static 'jungle_app/images/purple_one.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/purple_two.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/purple_three.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/purple_four.jpg'%}" alt="My Image">
            </div>
            <div class="photo">
                <img src="{% static 'jungle_app/images/purple_five.jpg'%}" alt="My Image">
            </div>
        </div>
    </div>
</body>
</html>