<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/land.css' %}">
    <title>Land Animals</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        </style>
    <div id="container">
        <div id="body">
            <div id="story">
                {% load static %}
                <div id="triblock">
                  <div class="animal">
                      <img src="{% static 'jungle_app/images/birds.png'%}" alt="My Image">
                  </div>  
                  <div class="animal">
                    <span>B</span>
                    <p>B is for Birds.</p>
                    <p>B-i-r-d-s.</p>
                    <p>Birds</p>
                    </p>
                  </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/camel.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>C</span>
                      <p>C is for Camels.</p>
                      <p>C-a-m-e-l.</p>
                     <p>Camels</p>
                    </div>
                  </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/dog.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>D</span>
                      <p>D is for Dogs.</p>
                      <p>D-o-g-s.</p>
                      <p>Dogs.</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/elephant.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>E</span>
                      <p>E is for Elephant</p>
                      <p>E-l-e-p-h-a-n-t.</p>
                      <p>Elephant.</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/fox.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>F</span>
                      <p>F is for Fox.</p>
                      <p>F-o-x.</p>
                      <p>Fox.</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/giraffe.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>G</span>
                      <p>G is for Giraffe.</p>
                      <p>G-i-r-a-f-f-e.</p>
                      <p>Giraffe.</p>
                    </div>
                </div>    
                <div id="triblock">
                  <div class="animal">
                    <img src="{% static 'jungle_app/images/jellyfish.jpg'%}" alt="My Image">
                  </div>  
                  <div class="animal">
                    <span>J</span>
                    <p>J is for Jellyfish</p>
                    <p>J-e-l-l-y-f-i-s-h</p>
                    <p>Jellyfish.</p>
                  </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/lion.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>L</span>
                      <p>L is for Lion</p>
                      <p>L-i-o-n</p>
                      <p>Lion.</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/monkey.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>M</span>
                      <p>M is for Monkey.</p>
                      <p>M-o-n-k-e-y.</p>
                      <p>Monkey</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                      <img src="{% static 'jungle_app/images/owl.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                    <span>O</span>
                    <p>O is for owl.</p>
                    <p>O-w-l.</p>
                    <p>Owl</p>
                    </div>
                </div>
                <div id="triblock">
                  <div class="animal">
                    <img src="{% static 'jungle_app/images/parrot.jpg'%}" alt="My Image">
                  </div>  
                  <div class="animal">
                  <span>P</span>
                  <p>P is for Parrot.</p>
                  <p>P-a-r-r-o-t.</p>
                  <p>Parrot.</p>
                  </div>
              </div>
              <div id="triblock">
                <div class="animal">
                  <img src="{% static 'jungle_app/images/starfish.jpg'%}" alt="My Image">
                </div>  
                <div class="animal">
                <span>S</span>
                <p>S is for Starfish.</p>
                <p>S-t-a-r-f-i-s-h.</p>
                <p>Starfish.</p>
                </div>
              </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/tiger.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                    <span>T</span>
                    <p>T is for Tiger.</p>
                    <p>T-i-g-e-r.</p>
                    <p>Tiger.</p>
                    </div>
                </div>
                <div id="triblock">
                    <div class="animal">
                        <img src="{% static 'jungle_app/images/zebra.jpg'%}" alt="My Image">
                    </div>  
                    <div class="animal">
                      <span>Z</span>
                      <p>Z is for Zebra.</p>
                      <p>Z-e-b-r-a.</p>
                      <p>Zebra.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>  