<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/sea.css' %}">
    <title>Ocean Animals</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        </style>
    <div id="container">
        <div id="body">
            <div id="story">
                <!-- one -->
                {% load static %}
                <div class=description>D is for Dolphin</div>
                <div id="triblock">
                    <div class="animal">
                      {% load static %}
                        <img src="{% static 'jungle_app/images/dolphin.jpg'%}" alt="My Image">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div> 
                    <div class="animal">
                      <span>D</span>
                      <p>
                        Although Dolphins live in the ocean, they are still considered mammals. 
                        There are multiple types of dolphins like the bottlenose to atlantic dolphin. 
                        They can be found in many South Asian waters.
                      </p>
                    </div>
                </div>
                <!-- two -->
                <div class=description>J is for Jellyfish</div>
                <div id="triblock">
                    <div class="animal">
                      <!-- <img src="{% static 'jungle_app/images/jellyfish.jpg'%}" alt="My Image"> -->
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>J</span>
                      <p>
                        Jelly fish are like clear sponges with strings. They live across multiple oceans!
                      </p>
                    </div>
                </div>
                <!-- three -->
                <div class=description>S is for Starfish</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/starfish.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>S</span>
                      <p>Starfish is a fish that has five arms so they look like a star! </p>
                    </div>
                </div>
                <!-- four -->
                <div class=description>T is for Turtle</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/turtle.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>T</span>
                      <p>Turles are reptiles that have a hard shell around their body.
                        Turtles can be found on every continent on the world and some of them can even be friends! </p>
                    </div>
                </div>
                <!-- five -->
                <div class=description>W is for Whale</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/whale.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>W</span>
                      <p>
                        Just like dolhpins and you whales are also mammals that live in the ocean.
                        Althought they have to come up to the surface to breathe. They can be found in all of the world's major oceans!
                      </p>
                    </div>
                </div>
                <!-- six -->
                <div class=description> L is for Lion</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/sea animals/lion.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>L</span>
                      <p>
                       Lions are like a larger pomerinians. They are native to Africa and India. 
                      </p>
                    </div>
                </div>
                <!-- seven -->
                <div class=description>M is for Monkey</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/land animals/monkey.jpg" alt="Girl in a jacket" width="463" height="383">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>    C</span>
                      <p>
                        Camels are mammals
                        that live in deserts where it is hot and dry.  
                      </p>
                    </div>
                </div>
                <!-- eight -->
                <div class=description>C is for Camel</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/land animals/tiger.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>    C</span>
                      <p>
                        Camels are mammals
                        that live in deserts where it is hot and dry.  
                      </p>
                    </div>
                </div>
                <!-- nine -->
                <div class=description>Z is for Zebra</div>
                <div id="triblock">
                    <div class="animal">
                        <img src="./images/land animals/zebra.jpg" alt="Girl in a jacket" width="350" height="380">
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>  
                    <div class="animal">
                      <span>Z</span>
                      <p>
                       Zebras are like striped horses. Each one has a distinctive black and white coat. Zebras inhabit eastern and southern Africa.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>