<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/subchannels.css' %}">
    <title>Subchannels</title>
</head>
<body>
    <div id="container">
       <div id="left">
        <!-- <img src="{% static 'jungle_app/images/guanaco.png'%}" alt="placeholder">
        <img src="{% static 'jungle_app/images/guanaco.png'%}" alt="placeholder">  -->
     </div>
        <div id="middle">
            <div id="top">test test test</div>
            <div id="Chennels">channel</div>
            <div id="direct_messages">message</div>
            <div id="apps">apps</div>
        </div>
        <div id="right">
            <div id="baby_bot">baby_bot</div>
            <div id="bookmark">bookmark</div>
            <div id="msg_start">start</div>
            <div id="msg">msg</div>
        </div> 
    </div>
</body>
</html>