<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/subchannels.css' %}">
    <title>Subchannels</title>
</head>
<body>
    <!-- delete this file -->
    <div id="container">
       <div id="left">
        <!-- <img src="{% static 'jungle_app/images/guanaco.png'%}" alt="placeholder">
        <img src="{% static 'jungle_app/images/guanaco.png'%}" alt="placeholder">  -->
     </div>
        <div id="middle">
            <div id="top">new mothers</div>
            <div id="channels">#new fathers</div>
            <div id="channels">#toddler club</div>
            <div id="channels">#new borns and pets</div>
            <div id="channels">#babysitting</div>
            <div id="channels">#chat with pediatric nurses</div>
            <div id="direct_messages">direct messages</div>
        </div>
        <div id="right">
            <div id="baby_bot">baby_bot</div>
            <div id="bookmark">add a bookmark</div>
            <div id="msg">
                <div id="message_one">
                    <form action="/comment" method="post">
                        {% csrf_token %}
                        <input id ="commentbox" type="textarea" name="comment" row="3">
                        <input type="hidden" name="id" value="request.session['u_id']">
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <input id="cmtbtn" type="submit" value="Post a comment!">
                    </form>
                 </div>
                <div id="message_one">
                    {% for post in posts reversed %} 
                    <h3 id="postdetails">{{post.messager.first_name}} {{post.messager.last_name}} - {{post.created_at|date:'F jS Y'}} {% if post.messager.id == request.session.u_id %} <a href="/delmsg/{{post.id}}"><button>Delete</button></a>{% endif %}</h3>
                     <p id="post">{{post.message}}</p>
                     <p id="micro">...posted {{post.created_at|timesince}} ago.</p>
                     {% endfor %}
                     {% for comment in post.post_comments.all %}
                     <h4 id="commentdetails">{{comment.commentor.first_name}} {{comment.commentor.last_name}} - {{comment.created_at|date:'F jS Y'}}</h4>
                     <p id="comment">{{comment.comment}} {% if comment.commentor.id == request.session.u_id %}<a href="/delcom/{{comment.id}}"><button>Delete</button></a> {% endif %}</p>
                     <p id="micro">...posted {{comment.created_at|timesince}} ago.</p>
                     {% endfor %}
                 </div>
                <form action="/channel_post" method="post">
                    {% csrf_token %}
                    <textarea id="messagebox" name="message" row="3" cols="80"></textarea>
                    <input type="hidden" name="id" value="request.session['u_id']">
                    <br>
                    <input id="msgbtn" type="submit" value="What's on your mind?">
                </form>
            </div>
        </div> 
    </div>
</body>
</html>