<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'jungle_app/css/wall.css' %}">
    <title>New Parents Forum</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <br>
            <br>
            <div id="headerboxes"><h2 id="name">Baby Club</h2></div>
            <div id=headerboxes><p style= "direction: rtl;"><a href="/logout">Log Out</a><h3></h3></div>
        </div>
   <div id="body">
            <div id="photo">
                {% load static %}
                <img src="{% static 'jungle_app/images/two_kids.jpg'%}" alt="My Image">
                <br>
                <h3>{{request.session.u_fname}}</h3>
            </div>
            <div id="navigation">
              <p><a href="/food">Learning Colors with Fruits & Veggies</a></p>
              <p><a href="/animals">Explore Jonathan's Jungle Book</a></p>
            </div>
            <!-- improve this menu bar -->
             <div id="messages"> 
                 <div id="message_one">
                    <form action="/post" method="post">
                        {% csrf_token %}
                        <script>
                            $(document).ready(function() {
                          $("#inputComment").keypress(function(e) {
                            if (e.which == 13) {
                              var val = $("#inputComment").val();
                              alert("send");
                            }        
                          });
                        });
                      </script>
                        <textarea id="messagebox" name="message" row="3" cols="80"></textarea>
                        <input type="hidden" name="id" value="request.session['u_id']">
                        <br>
                        <input id="msgbtn" type="submit" value="What's on your mind?">
                    </form>
                    <!-- try and see how you can rid of the button and use javascript instead to post -->
                 </div>
                 <div id="message_one">
                    {% for post in posts reversed %} 
                    <h3 id="postdetails"><b>{{post.messager.first_name}} {{post.messager.last_name}} - {{post.created_at|date:'F jS Y'}} {% if post.messager.id == request.session.u_id %} <a href="/delmsg/{{post.id}}"><button>Delete</button></a>{% endif %}</b></h3>
                    <p id="post">{{post.message}}</p>
                     <!-- <p id="micro">...posted {{post.created_at|timesince}} ago.</p> -->
                     {% for comment in post.post_comments.all %}
                     <h4 id="commentdetails">{{comment.commentor.first_name}} {{comment.commentor.last_name}} - {{comment.created_at|date:'F jS Y'}}</h4>
                     <p id="comment">{{comment.comment}} {% if comment.commentor.id == request.session.u_id %}<a href="/delcom/{{comment.id}}"><button>Delete</button></a> {% endif %}</p>
                     <!-- <p id="micro">...posted {{comment.created_at|timesince}} ago.</p> -->
                     {% endfor %}
                     <!-- check notes on how to improve this -->
                 </div>
                 <div id="message_one">
                    <form action="/comment" method="post">
                        {% csrf_token %}
                        <script>
                              $(document).ready(function() {
                            $("#inputComment").keypress(function(e) {
                              if (e.which == 13) {
                                var val = $("#inputComment").val();
                                alert("send");
                              }        
                            });
                          });
                        </script>
                        <input id ="commentbox" type="textarea" name="comment" row="3" value="Write a comment...">
                        <input type="hidden" name="id" value="request.session['u_id']">
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <!-- <input id="cmtbtn" type="submit"> -->
                    </form>
                    {% endfor %} 
                 </div>
            </div>
        </div>
        <!-- <div id="footer_body">
            <div id="footer_halves">
                <p>For the Babies:<p>
                <br>
                <p><a href="/animals">Explore Jonathan's Jungle Book</a></p>
                <br>
                <p><a href="/food">Learning Colors with Fruits & Veggies</a></p>
            </div>
            <div id="footer_halves">
                <p><b>Wellness:</b></p>
                <br>
                Babysitter 411
                <br>
                <br>
                Outdoor Club
                <br>
                <br>
                Therapy
                <br>
            </div> -->
        </div>
    </div>
</body>
</html>